*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------GENERALES-------------*/

html{
    text-decoration: none;
    font-size: 62.5%;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: 'Inter', sans-serif; 
    /*background:  linear-gradient(175deg,#110023,#0d1926);*/
    background:  linear-gradient(175deg,#1a324c,#0d1926);
    /*color: #eaeaea*/
    color: #c8d1db;
}
    
header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1280px;
        margin: 1rem auto;
}

.Ceci{
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

li{
    margin: 1rem;
}
a {
        text-decoration: none;
        align-self:center;
        color: #c8d1db;
        font-size: 1.8rem;
}

li a:hover {
        color: #8cafd7;
    }

    /*----------------SECTION 1 - ABOUT ME -------------*/

.section--hero{
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.section__div--hero{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__tittle{
    margin-bottom:2.5rem;
    font-size: 3.5rem;
    color: #8cafd7;
}

.section__div--hero p{
    font-size: 2rem;
    line-height: 4rem;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}

.section__div--hero .a--btn{
    margin: 2rem 0;
    margin: 3rem 0 1rem 0;
    padding: 1rem 2rem;
    background-color: inherit;
    border: 2px #1a324c solid;
    border-radius: 2rem;
    letter-spacing: 0.2rem;
    align-self: center;
}

.a--btn:hover  {
    color:#1a324c;
    background-color: #8cafd7;
}


    /*----------------SECTION 2 - REPOSITORIO -------------*/

.section--repository{
    /*background:  linear-gradient(175deg,#1a324c,#0d1926);*/
    background-color: #0d1926;
    min-height: 50vh;
}
.wave{
    height: 150px;
    overflow: hidden;
}

.section__div--repository{
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
}

div .repos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div .repo{
    margin: 2rem 0;
    margin: 3rem 0 1rem 0;
    padding: 1rem 2rem;
    border: 2px #1a324c solid;
    width: 30vw;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

.repo h3{
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.25rem;
}

.repo p{
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}



    /*----------------SECTION 4 - CONTACTO -------------*/

.section--contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.section__div--contact{
    flex-basis: 33%;
}

.section__div--contact h2{
    margin-bottom: 2rem;
    text-align: center;
}

.section__div--contact p{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
    text-justify: distribute;
    letter-spacing: 0.2rem;
}

.section__form--contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.7rem;
    border: 2px #1a324c solid;
    padding: 1.5rem;
    letter-spacing: 0.1rem;
}

.section__form--contact input, .section__form--contact textarea{
    margin: 0.5rem 0 2rem 0;
    font-family: 'Inter', sans-serif;
    padding: 5px 10px;
    background-color: #0d1926;
    border-color: #1a324c;
    color: #c8d1db;
    font-size: 1.5rem;
}

.section__form--contact input{
    height: 30px;
}

.section__form--contact .btn {
    display: block;
    width: fit-content;
    height: fit-content;
    margin-bottom: 0.5rem;
}

.section__form--contact .btn:hover {
    background-color: #8cafd7;;
    color:#1a324c;
}



/*******FOOTER***************/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1a324c;
    padding: 0.5rem 0;
}

footer , footer h1 {
    font-size: 1.3rem;   
    font-weight: 400;
}